/* app css stylesheet */


input.ng-invalid {
    background-color: pink;
}

input.ng-invalid.ng-dirty {
  background-color: pink;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}