<div class="panel panel-primary">

    <div class="panel-body">
        <h4 ng-bind="mdCtrl.title"></h4>
    </div>

    <form name="MovieForm">
        <div class="row-fluid">

            <div class="span3">
                <fieldset>
                    <label for="productName">Movie name:</label>
                    <input focus id="productName" required type="text" placeholder="Name" ng-model="mdCtrl.movie.productName" />
                    <label for="productPrice">Price:</label>
                    <input id="productPrice" type="text" required ng-pattern="/^[1-9]\.[0-9][1-9]$/" placeholder="Price" ng-model="mdCtrl.movie.productPrice"
                    />
                    <label for="movieRating">Movie rating:</label>
                    <input focus id="movieRating" type="text" required type="text" placeholder="Rating" ng-model="mdCtrl.movie.movieRating" />
                    <label for="maxRentalPeriod">Maximum rental period:</label>
                    <input id="maxRentalPeriod" type="text" required ng-pattern="/^[1-9]$/" placeholder="Days" ng-model="mdCtrl.movie.maxRentalPeriod"
                    />
                    <label for="movieGenre">Movie genre:</label>
                    <input focus id="movieGenre" type="text" required type="text" placeholder="Genre" ng-model="mdCtrl.movie.movieGenre" />
                    <label for="imageUrl">Image:</label>
                    <input id="imageUrl" type="text" placeholder="Url" ng-model="mdCtrl.movie.imageUrl" />
                </fieldset>
            </div>
            <div class="span3">
                <img ng-src="{{mdCtrl.movie.imageUrl}}" />
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <label for="bio">Description:</label>
                <textarea id="bio" rows="3" style="width:80%; color:#52575c" placeholder="Description" ng-model="mdCtrl.movie.productDescription"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="pull-left"><span class="btn">Cancel</span></div>
                <div class="pull-right">
                    <button ng-disabled="MovieForm.$invalid" type="submit" class="btn btn-primary" ng-click="mdCtrl.saveMovie(mdCtrl.movie, MovieForm)">Save</button>
                </div>
            </div>
            <div class="span3">
                <button ng-disabled="MovieForm.$invalid" type="button" class="btn btn-primary" ng-click="mdCtrl.rentIt()">Rent it</button>
            </div>
        </div>
    </form>

    <div class="panel-footer">
        <a class="btn btn-default" ng-href="#/store/movieList" style="width:80px">
            < Back </a>
    </div>
</div>